@model PasswordsGenerator.ViewModels.Home.GeneratedPasswordViewModel
@{
    ViewData["Title"] = "Show password Page";
}

@using (Html.BeginForm())
{
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <label>User Name</label>
        @Html.TextBoxFor(model => model.userID, new { @disabled = "disabled" } )
        <br /> <br />
        <label>Date and time</label>
        @Html.TextBoxFor(model => model.passwordGenerationDatetime, new { @disabled = "disabled" })
        <br /> <br />
        <label>Generated password</label>
        @Html.TextBoxFor(model => model.generatedPassword, new { @disabled = "disabled" })
        <br /> <br />
        <label>@Html.DisplayFor(model => model.messageAlert)</label>
    </div>
    <br />
    <div>
        <input type="submit" name="BackToHome" value="Return to home page" formaction=@Url.Action("Index", "Home") formmethod="get" />
    </div>
</div>
}

@section scripts {
    <script src="~/js/PasswordPage/PasswordPageJS.js" type="text/javascript" asp-append-version="true"></script>
}